// Configs
@import './config/variables';
@import './config/fonts';
@import './config/vendor';
@import './config/utils';
@import './config/general';

// Pages
@import './pages/home';

//Partials
@import './partials/menu';
@import './partials/list-of-products';

// Wordpress
@import './config/wordpress';